Resoluções/Mudanca_tool_description.json
{
  "name": "Rag-2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1hoUtoTSLExymctT2nPPVQOOT9RBOHgjE",
          "mode": "list",
          "cachedResultName": "Arsae",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hoUtoTSLExymctT2nPPVQOOT9RBOHgjE"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        0
      ],
      "id": "1ef87a4b-b4ca-4b24-9e75-fb1912ecd982",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PcjocaSyYr5ony2u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        -80
      ],
      "id": "c45f301a-6827-4f35-a993-7390c50044e1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        224
      ],
      "id": "4bc12c98-1b5a-4972-9449-9bdb67b426ab",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        0
      ],
      "id": "3e2e5bd7-25b4-4ac7-be13-5414a8689b2b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PcjocaSyYr5ony2u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "da7c5573-5797-4341-b851-e6d749ff8c2c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        224
      ],
      "id": "88b3a16b-255d-49e5-b769-8899cbd49e0c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        576,
        464
      ],
      "id": "2325b0e2-825f-4bcb-be67-43e7b32788c6",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -304,
        528
      ],
      "id": "c3082e90-380f-477b-97e3-79aeb195a1ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -560,
        544
      ],
      "id": "6242d31f-861f-4984-aeb1-885931fa4aa8",
      "name": "When chat message received",
      "webhookId": "022ee0e1-bceb-4492-8b0b-380232d82a92"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        816
      ],
      "id": "1d5f6744-2584-46f8-80b2-6590cf79f0a7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        816
      ],
      "id": "1aa86ef0-6eb6-4eec-82f7-379a8b8b0cf4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Toda vez que o usuário comentar sobre [analisar, documento, normativa, resolução, projeto de lei] você deve usar essa ferramenta, ela vai te dar acesso a um banco de dados com a documentação necessária.",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        16,
        720
      ],
      "id": "5cb5d72d-1288-4063-b379-3ef0d6fd9725",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        960
      ],
      "id": "a64283c6-a9a3-4d95-81be-6fddd10c70dd",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aadf2985-f61c-4dfd-a255-b2aad72bb7a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c61ff4d61d172e24e02a2b81c6325776f3bed136366fdbeca620ddb4ac8cc86a"
  },
  "id": "HAUvkZ6tMzGKINp1",
  "tags": []
}