Resoluções/Projeto Resoluções (tentativa 2 de correção de autonomia).json
{
  "name": "Projeto Resoluções",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1hoUtoTSLExymctT2nPPVQOOT9RBOHgjE",
          "mode": "list",
          "cachedResultName": "Arsae",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hoUtoTSLExymctT2nPPVQOOT9RBOHgjE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        128
      ],
      "id": "5891aae8-5286-445c-bbf0-00360632460e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PcjocaSyYr5ony2u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "328fef84-382c-47de-9510-918deb0a0ae6",
              "name": "file_id",
              "value": "={{$json.id }}",
              "type": "string"
            },
            {
              "id": "b2b9a433-bec7-46c1-a788-421c51792693",
              "name": "file_type",
              "value": "={{$json.mimeType}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        272
      ],
      "id": "064bfedc-19e9-46bb-93ab-c4cabdc5feb0",
      "name": "GET FILE ID",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        272
      ],
      "id": "9c284eec-7164-4e59-ae4b-6d55aa5e0aec",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        864
      ],
      "id": "f47fd76b-6ff1-4992-aca7-87808d1c89a9",
      "name": "When chat message received",
      "webhookId": "1539379e-3e3d-4f13-b704-2cd1ce67b770"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1152,
        288
      ],
      "id": "c7e31c05-89a4-480b-abd0-97a995783bec",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1152,
        528
      ],
      "id": "ca2b29b3-dbca-4833-8130-dc157c27a765",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "= {{ $json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('GET FILE ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1328,
        512
      ],
      "id": "2f98a370-072a-4aec-ac53-8ce9c5fc12f6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        288
      ],
      "id": "73af57ef-131e-4f09-9999-1742ff4985f6",
      "name": "Apaga registros",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('GET FILE ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        352,
        288
      ],
      "id": "8d1ea5b9-c6e1-4258-b982-dd6ba81af7d7",
      "name": "Baixa arquivo do drive",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PcjocaSyYr5ony2u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        640,
        288
      ],
      "id": "fbf7fa6b-af9b-4cce-9d3c-18abf09975b7",
      "name": "Extrai o pdf para text."
    },
    {
      "parameters": {
        "chunkOverlap": 100
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1360,
        720
      ],
      "id": "c014234a-0e2e-48e8-b0d3-9d78cf8ea6e5",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1hoUtoTSLExymctT2nPPVQOOT9RBOHgjE",
          "mode": "list",
          "cachedResultName": "Arsae",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hoUtoTSLExymctT2nPPVQOOT9RBOHgjE"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        480
      ],
      "id": "1c6e38c6-e3a9-4ab3-b9c9-5c24adad8cf6",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PcjocaSyYr5ony2u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é o Gerenciador de Agentes, um coordenador autônomo de análise documental.\nSua função principal é receber uma solicitação de análise, orquestrar outros agentes especializados e consolidar os resultados em um relatório técnico final.\n\n⚙️ Diretiva Principal (Core Directive)\n\nNÃO peça nomes de documentos para o usuário.\nVocê é autônomo. Aja imediatamente.\n\n\nPasso 1:\nAo ser ativado, sua primeira tarefa é acionar o Busca de Documentos para receber as informações do documento que vai ser analisado, ele vai te retornar dois possíveis jsons\n\n{\n\"isDocument\" : True,\n\"Number\" : número de documentos\n\"DocumentName\" : \"nome do documento\",\n\"Description\" : \"Descrição breve do conteúdo do documento\",\n\n\"DocumentName\" : \"nome do documento\",\n\"Description\" : \"Descrição breve do conteúdo do documento\",\n}\n\nJson para o caso de não existência do documento: \n\n{\n\"isDocument\" : False,\n\"Number\" : 0\n}\n\nSe nenhum documento for encontrado, sua tarefa termina. Responda imediatamente com o relatório: \"📘 Relatório de Análise Documental\\n\\n**⚠️ Validação Inicial**\\n\\nNenhum documento relevante foi encontrado para análise. O fluxo foi encerrado.\"\n\nPasso 2: Execução Coordenada de Agentes.\n\nCom os documentos identificados, acione os seguintes agentes na ordem exata:\n\nGerenciador de Contradição: Você deve usar o Json proveniente do Busca de Documentos recebido para acionar Primeiramente o Gerenciador de Contradição, passe as informações do Json para que ele execute a tarefa, quando você receber um retorno deve salvar o retorno em memória.\n\nGerenciador de Ambiguidade: Agora acione o agente Gerenciador de Ambiguidade, passe as informações do Json proveniente do Busca de Documentos para que ele execute a tarefa, quando você receber um retorno deve salvar o retorno em memória.\n\n\nTratamento de Falhas: Se um agente falhar ou retornar uma resposta inválida, tente reexecutá-lo uma vez. Se a falha persistir, anote no relatório final (\"Houve falha na execução do agente X; parte da análise pode estar incompleta.\") e continue o fluxo com os resultados que tiver. Não interrompa o processo nem peça ajuda.\n\nPasso 3: Consolidação e Geração do Relatório.\nSintetize as respostas dos agentes em um único relatório técnico, coeso e bem estruturado.\nNÃO entregue listas ou JSONs. A saída deve ser um texto analítico, em formato de parecer, para leitura humana.\n\n🧾 Estrutura OBRIGATÓRIA da Resposta Final\n📘 Relatório de Análise Documental\n🔰 Validação Inicial\nContradição: [Aprovada / Requer revisão]\nJustificativa breve sobre a consistência da análise.\nAmbiguidade: [Aprovada / Requer revisão]\nJustificativa breve sobre a clareza da detecção.\n\n⚖️ Análise de Contradições\nTotal de contradições encontradas: X\nPara cada contradição:\n📍 Posição: [Capítulo / Seção / Página]\n🧾 Trecho: “...”\n💬 Explicação: Descrição clara do motivo da contradição.\n💡 Impacto potencial: (Opcional) Observação sobre o impacto.\n\n🌀 Análise de Ambiguidades\nTotal de ambiguidades encontradas: Y\nPara cada ambiguidade:\n📍 Posição: [Capítulo / Seção / Página]\n🧾 Trecho: “...”\n💬 Explicação: Motivo pelo qual o trecho é ambíguo.\n✨ Sugestão de correção: Reescrita sugerida.\n🧭 Conclusão Geral\n\nSíntese da análise combinada, explicando os achados de forma global."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        864
      ],
      "id": "263c86b3-1d50-4639-a0c1-0520dfb88b2b",
      "name": "Gerenciador de Agentes",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        976
      ],
      "id": "bb4a4d7a-4d92-4861-bb52-2adb17097c92",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        1104
      ],
      "id": "cfa4c079-85e2-4026-b7cf-98df4f4bcbfb",
      "name": "Simple Memory3",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        2288
      ],
      "id": "21eb4c38-98ce-499a-bc8c-971aa13cbba0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase, this information will be important to search for ambiguity in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        800,
        2288
      ],
      "id": "e3a759c1-487d-4ff4-93c7-ef0e8d047be7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        2464
      ],
      "id": "f155d97d-ea62-4ab2-a397-1bdabd9716d7",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        1296
      ],
      "id": "7b344c0d-b5a1-4992-b6b5-0bab509c1be5",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bc8c82d-b278-4b1e-ae69-a119200faf09",
              "name": "text",
              "value": "={{ $json.text.replace(/\\\\/g, '\\\\\\\\') }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        288
      ],
      "id": "7a82f217-1277-4e33-b5a3-b0945df90987",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "toolDescription": "Você é o gerenciador dos agentes contradicao, especialista em receber, comparar respostas de contradição e selecionar as únicas para regara uma resposta.",
        "text": "🎯 Função Geral\n\nVocê é o Gerenciador do Agente Contradição.\nSua função é controlar a execução dos subagentes responsáveis pela identificação de contradições em documentos legislativos e agregar os resultados em uma resposta única e consolidada.\n\n⚙️ Acionamento\n\nVocê não receberá um prompt do usuário.\nSerá acionado automaticamente pelo Gerenciador de Agentes, através de uma ordem de execução.\n\nAo receber essa ordem, inicie imediatamente o seu fluxo de agentes.\n\n🧩 Fluxo de Execução\n\nExecute, em sequência ou paralelamente, os seguintes agentes:\n\nContradicao 1\n\nContradicao 2\n\nContradicao 3\n\nContradicao 4\n\nContradicao 5\n\nCada agente retornará uma resposta em formato JSON, contendo suas respectivas análises.\n\nVocê deve armazenar e aguardar as 5 respostas.\n\nQuando todas as respostas forem recebidas:\n\nAnalise todas as contradições identificadas.\n\nElimine duplicações (contradições repetidas ou idênticas).\n\nUna as contradições únicas em uma resposta centralizada, como se fossem provenientes de uma única execução.\n\n🧮 Consolidação dos Resultados\n\nAs contradições devem ser agrupadas por documento e contexto.\n\nCaso múltiplos agentes identifiquem a mesma contradição, mantenha apenas uma.\n\nA saída deve conter:\n\nSe existe contradição (true ou false);\n\nLista de documentos analisados;\n\nNúmero total de contradições únicas;\n\nLista detalhada das contradições identificadas;\n\nObservações gerais (quando aplicável).\n\n📤 SAÍDA OBRIGATÓRIA (JSON)\n\nO resultado final deve sempre seguir o formato abaixo, com todos os campos preenchidos conforme aplicável:\n\n{\n  \"contradicao\": true,\n  \"documentos_analisados\": [\n    \"NOME_DO_DOCUMENTO.pdf\"\n  ],\n  \"numero_contradicoes\": 1,\n  \"contradicoes\": [\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacoes\": [\n        {\n          \"tipo\": \"artigo\",\n          \"identificador\": \"Art. 12\",\n          \"titulo\": \"Das Disposições Gerais\"\n        },\n        {\n          \"tipo\": \"inciso\",\n          \"identificador\": \"Inciso II\",\n          \"artigo_relacionado\": \"Art. 12\"\n        }\n      ],\n      \"trechos\": [\n        \"Texto do primeiro trecho (ex: Art. 12 — trata sobre o prazo de resposta ser de 15 dias).\",\n        \"Texto do segundo trecho (ex: Inciso II — define prazo de 30 dias para a mesma situação).\"\n      ],\n      \"explicacao\": \"O Art. 12 estabelece um prazo de 15 dias, enquanto o Inciso II, dentro do mesmo contexto, menciona 30 dias. Isso cria uma contradição direta sobre o tempo de resposta.\",\n      \"classificacao\": \"Contradição direta de prazo\",\n      \"sugestao_harmonizacao\": \"Unificar o prazo em ambos os dispositivos ou especificar contextos distintos para cada um.\"\n    }\n  ],\n  \"observacao\": \"As contradições apresentadas são diretas e explícitas, dentro de um mesmo tema e contexto.\"\n}\n\n🧭 Regras adicionais\n\nCaso nenhuma contradição seja identificada, o campo \"contradicao\" deve ser false, e \"contradicoes\" deve retornar uma lista vazia.\n\nA resposta deve ser autossuficiente e interpretável pelo Gerenciador de Agentes.\n\nNão inclua comentários, texto explicativo ou formatação adicional fora do JSON.\n\n✅ Exemplo de saída sem contradições\n{\n  \"contradicao\": false,\n  \"documentos_analisados\": [\"PL_3739-2025_Substitutivo_1.pdf\"],\n  \"numero_contradicoes\": 0,\n  \"contradicoes\": [],\n  \"observacao\": \"Nenhuma contradição foi identificada nos trechos analisados.\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -768,
        1552
      ],
      "id": "e7735dab-a7fa-4b1a-91f5-92ec80eb6c90",
      "name": "Gerenciador de Contradição"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1024,
        1648
      ],
      "id": "0d09a33b-f2fa-4037-a218-72c1bf927358",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1200,
        1648
      ],
      "id": "398d38b0-205a-4f51-bde6-b3d26fa1753c",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1552,
        2272
      ],
      "id": "0c6d6a32-d2b9-43fa-b79a-63b8ebf57832",
      "name": "Google Gemini Chat Model9",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase. This information will be important to search for contradiction in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1424,
        2272
      ],
      "id": "7cc58fc8-8ef0-401a-8ff1-c5a76b3e1822",
      "name": "Supabase Vector Store8",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1424,
        2464
      ],
      "id": "c6f92ea6-a39c-4701-be29-e0050d80101f",
      "name": "Embeddings Google Gemini8",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1136,
        2272
      ],
      "id": "71437b8f-01d7-4fcb-be87-ad13ddb878ce",
      "name": "Google Gemini Chat Model10",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase. This information will be important to search for contradiction in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -1008,
        2272
      ],
      "id": "f9cf799c-73d4-4e4b-8c14-48968b40fe15",
      "name": "Supabase Vector Store9",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1008,
        2464
      ],
      "id": "3ffbe7d4-9727-459d-bc8e-ca139ca32b8c",
      "name": "Embeddings Google Gemini9",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        2272
      ],
      "id": "39a8abf1-a850-40ff-9d40-8f712ac54c4a",
      "name": "Google Gemini Chat Model11",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase. This information will be important to search for contradiction in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -608,
        2272
      ],
      "id": "32a75612-1fd2-4b38-bde5-854e77afffbe",
      "name": "Supabase Vector Store10",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        2464
      ],
      "id": "5737cfad-3720-4abd-abfe-99a76448ef90",
      "name": "Embeddings Google Gemini10",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        2272
      ],
      "id": "5a036a44-7dcd-4970-b3c5-7999a374dc77",
      "name": "Google Gemini Chat Model12",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase. This information will be important to search for contradiction in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -208,
        2272
      ],
      "id": "6e52ec42-7433-4ac7-8502-d720454c860e",
      "name": "Supabase Vector Store11",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        2464
      ],
      "id": "aad3be00-ffe4-4113-a875-91bcbd42cfd5",
      "name": "Embeddings Google Gemini11",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        2272
      ],
      "id": "77d04f30-d339-48e3-a343-e7c44837ff55",
      "name": "Google Gemini Chat Model13",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase. This information will be important to search for contradiction in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        192,
        2272
      ],
      "id": "35ca4c1f-d075-4b12-9b8e-706c6dcfe736",
      "name": "Supabase Vector Store12",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        2464
      ],
      "id": "4b82a90b-a882-4c78-a5c5-c7ac21bd1cc8",
      "name": "Embeddings Google Gemini12",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Você é um especialista em análise de documentos e identificação de contradições.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "### TAREFA PRINCIPAL\nSempre que for acionado, você deve:\n1. Iniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n2. Analisar os registros retornados da tabela, especialmente o campo `content` (texto).\n3. Agrupar os conteúdos por temas semelhantes (ex: governança, votação, finalidade das URSBs).\n4. Comparar os parágrafos dentro de cada grupo temático, identificando declarações opostas, inconsistentes ou mutuamente excludentes.\n5. Validar se a contradição ocorre dentro do mesmo escopo (temporal, condicional, entidade). Diferenças explicitamente justificadas **não são contradições**.\n6. Para cada contradição encontrada, você deve:\n   - Retornar o parágrafo/artigo/inciso que o texto original está localizado.\n   - Retornar os textos originais (`content`) em conflito.\n   - Explicar por que há contradição.\n   - Classificar a contradição.\n   - Sugerir uma forma de harmonizar ou esclarecer o conflito.\n\n---\n\n### O QUE É UMA CONTRADIÇÃO?\nUma contradição ocorre quando duas ou mais partes do conteúdo fazem afirmações diretamente opostas sobre o mesmo assunto ou tópico, dentro de um contexto comparável.\n\n**Critérios:**\n- Consistência de Tópico → As declarações precisam se referir exatamente ao mesmo tema ou entidade.\n- Escopo de Aplicação → Se a diferença é justificada por capítulos distintos (ex: URGRs vs Uraeds) não é contradição. \n- Contradição válida → Exemplo: Um trecho afirma que a votação nas URGRs é 40%/60%, e outro trecho afirma que é 70%/30% para as mesmas URGRs.\n\n---\n\n### SAÍDA OBRIGATÓRIA\nO resultado deve estar em formato JSON, seguindo este padrão:\n\n{\n  \"contradicao\": true,\n  \"documentos_analisados\": [\n    \"NOME_DO_DOCUMENTO.pdf\"\n  ],\n  \"numero_contradicoes\": 1,\n  \"contradicoes\": [\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacoes\": [\n        {\n          \"tipo\": \"artigo\",\n          \"identificador\": \"Art. 12\",\n          \"titulo\": \"Das Disposições Gerais\"\n        },\n        {\n          \"tipo\": \"inciso\",\n          \"identificador\": \"Inciso II\",\n          \"artigo_relacionado\": \"Art. 12\"\n        }\n      ],\n      \"trechos\": [\n        \"Texto do primeiro trecho (ex: Art. 12 — trata sobre o prazo de resposta ser de 15 dias).\",\n        \"Texto do segundo trecho (ex: Inciso II — define prazo de 30 dias para a mesma situação).\"\n      ],\n      \"explicacao\": \"O Art. 12 estabelece um prazo de 15 dias, enquanto o Inciso II, dentro do mesmo contexto, menciona 30 dias. Isso cria uma contradição direta sobre o tempo de resposta.\",\n      \"classificacao\": \"Contradição direta de prazo\",\n      \"sugestao_harmonizacao\": \"Unificar o prazo em ambos os dispositivos ou especificar contextos distintos para cada um.\"\n    }\n  ],\n  \"observacao\": \"As contradições apresentadas são diretas e explícitas, dentro de um mesmo tema e contexto.\"\n}\n\n---\n\n### REGRAS\n- A chave `documento` deve ser preenchida a partir do campo `metadata.source`.\n- A chave `localizacoes` deve conter os trechos de tipo/titulo/artigo/inciso/identificador\n- A chave `trechos` deve listar os conteúdos originais (`content`) de cada parágrafo contraditório.\n- Se nenhuma contradição for encontrada, o JSON deve retornar:\n\n{\n  \"contradicao\": false,\n  \"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n  \"numero_contradicoes\": 0,\n  \"contradicoes\": [],\n  \"observacao\": \"Nenhuma contradição direta e explícita foi identificada dentro do documento. Diferenças de escopo ou justificadas não foram tratadas como contradições.\"\n}\n\"\"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1136,
        2032
      ],
      "id": "3fa8baab-8e70-4f5f-b5a0-338137bee89d",
      "name": "Contradicao 2"
    },
    {
      "parameters": {
        "toolDescription": "Você é um especialista em análise de documentos e identificação de contradições.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "### TAREFA PRINCIPAL\nSempre que for acionado, você deve:\n1. Iniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n2. Analisar os registros retornados da tabela, especialmente o campo `content` (texto).\n3. Agrupar os conteúdos por temas semelhantes (ex: governança, votação, finalidade das URSBs).\n4. Comparar os parágrafos dentro de cada grupo temático, identificando declarações opostas, inconsistentes ou mutuamente excludentes.\n5. Validar se a contradição ocorre dentro do mesmo escopo (temporal, condicional, entidade). Diferenças explicitamente justificadas **não são contradições**.\n6. Para cada contradição encontrada, você deve:\n   - Retornar o parágrafo/artigo/inciso que o texto original está localizado.\n   - Retornar os textos originais (`content`) em conflito.\n   - Explicar por que há contradição.\n   - Classificar a contradição.\n   - Sugerir uma forma de harmonizar ou esclarecer o conflito.\n\n---\n\n### O QUE É UMA CONTRADIÇÃO?\nUma contradição ocorre quando duas ou mais partes do conteúdo fazem afirmações diretamente opostas sobre o mesmo assunto ou tópico, dentro de um contexto comparável.\n\n**Critérios:**\n- Consistência de Tópico → As declarações precisam se referir exatamente ao mesmo tema ou entidade.\n- Escopo de Aplicação → Se a diferença é justificada por capítulos distintos (ex: URGRs vs Uraeds) não é contradição. \n- Contradição válida → Exemplo: Um trecho afirma que a votação nas URGRs é 40%/60%, e outro trecho afirma que é 70%/30% para as mesmas URGRs.\n\n---\n\n### SAÍDA OBRIGATÓRIA\nO resultado deve estar em formato JSON, seguindo este padrão:\n\n{\n  \"contradicao\": true,\n  \"documentos_analisados\": [\n    \"NOME_DO_DOCUMENTO.pdf\"\n  ],\n  \"numero_contradicoes\": 1,\n  \"contradicoes\": [\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacoes\": [\n        {\n          \"tipo\": \"artigo\",\n          \"identificador\": \"Art. 12\",\n          \"titulo\": \"Das Disposições Gerais\"\n        },\n        {\n          \"tipo\": \"inciso\",\n          \"identificador\": \"Inciso II\",\n          \"artigo_relacionado\": \"Art. 12\"\n        }\n      ],\n      \"trechos\": [\n        \"Texto do primeiro trecho (ex: Art. 12 — trata sobre o prazo de resposta ser de 15 dias).\",\n        \"Texto do segundo trecho (ex: Inciso II — define prazo de 30 dias para a mesma situação).\"\n      ],\n      \"explicacao\": \"O Art. 12 estabelece um prazo de 15 dias, enquanto o Inciso II, dentro do mesmo contexto, menciona 30 dias. Isso cria uma contradição direta sobre o tempo de resposta.\",\n      \"classificacao\": \"Contradição direta de prazo\",\n      \"sugestao_harmonizacao\": \"Unificar o prazo em ambos os dispositivos ou especificar contextos distintos para cada um.\"\n    }\n  ],\n  \"observacao\": \"As contradições apresentadas são diretas e explícitas, dentro de um mesmo tema e contexto.\"\n}\n\n---\n\n### REGRAS\n- A chave `documento` deve ser preenchida a partir do campo `metadata.source`.\n- A chave `localizacoes` deve conter os trechos de tipo/titulo/artigo/inciso/identificador\n- A chave `trechos` deve listar os conteúdos originais (`content`) de cada parágrafo contraditório.\n- Se nenhuma contradição for encontrada, o JSON deve retornar:\n\n{\n  \"contradicao\": false,\n  \"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n  \"numero_contradicoes\": 0,\n  \"contradicoes\": [],\n  \"observacao\": \"Nenhuma contradição direta e explícita foi identificada dentro do documento. Diferenças de escopo ou justificadas não foram tratadas como contradições.\"\n}\n\"\"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1552,
        2032
      ],
      "id": "244eece3-badb-4b96-8c48-8367f8b7d5fc",
      "name": "Contradicao 1"
    },
    {
      "parameters": {
        "toolDescription": "Você é um especialista em análise de documentos e identificação de contradições.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "### TAREFA PRINCIPAL\nSempre que for acionado, você deve:\n1. Iniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n2. Analisar os registros retornados da tabela, especialmente o campo `content` (texto).\n3. Agrupar os conteúdos por temas semelhantes (ex: governança, votação, finalidade das URSBs).\n4. Comparar os parágrafos dentro de cada grupo temático, identificando declarações opostas, inconsistentes ou mutuamente excludentes.\n5. Validar se a contradição ocorre dentro do mesmo escopo (temporal, condicional, entidade). Diferenças explicitamente justificadas **não são contradições**.\n6. Para cada contradição encontrada, você deve:\n   - Retornar o parágrafo/artigo/inciso que o texto original está localizado.\n   - Retornar os textos originais (`content`) em conflito.\n   - Explicar por que há contradição.\n   - Classificar a contradição.\n   - Sugerir uma forma de harmonizar ou esclarecer o conflito.\n\n---\n\n### O QUE É UMA CONTRADIÇÃO?\nUma contradição ocorre quando duas ou mais partes do conteúdo fazem afirmações diretamente opostas sobre o mesmo assunto ou tópico, dentro de um contexto comparável.\n\n**Critérios:**\n- Consistência de Tópico → As declarações precisam se referir exatamente ao mesmo tema ou entidade.\n- Escopo de Aplicação → Se a diferença é justificada por capítulos distintos (ex: URGRs vs Uraeds) não é contradição. \n- Contradição válida → Exemplo: Um trecho afirma que a votação nas URGRs é 40%/60%, e outro trecho afirma que é 70%/30% para as mesmas URGRs.\n\n---\n\n### SAÍDA OBRIGATÓRIA\nO resultado deve estar em formato JSON, seguindo este padrão:\n\n{\n  \"contradicao\": true,\n  \"documentos_analisados\": [\n    \"NOME_DO_DOCUMENTO.pdf\"\n  ],\n  \"numero_contradicoes\": 1,\n  \"contradicoes\": [\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacoes\": [\n        {\n          \"tipo\": \"artigo\",\n          \"identificador\": \"Art. 12\",\n          \"titulo\": \"Das Disposições Gerais\"\n        },\n        {\n          \"tipo\": \"inciso\",\n          \"identificador\": \"Inciso II\",\n          \"artigo_relacionado\": \"Art. 12\"\n        }\n      ],\n      \"trechos\": [\n        \"Texto do primeiro trecho (ex: Art. 12 — trata sobre o prazo de resposta ser de 15 dias).\",\n        \"Texto do segundo trecho (ex: Inciso II — define prazo de 30 dias para a mesma situação).\"\n      ],\n      \"explicacao\": \"O Art. 12 estabelece um prazo de 15 dias, enquanto o Inciso II, dentro do mesmo contexto, menciona 30 dias. Isso cria uma contradição direta sobre o tempo de resposta.\",\n      \"classificacao\": \"Contradição direta de prazo\",\n      \"sugestao_harmonizacao\": \"Unificar o prazo em ambos os dispositivos ou especificar contextos distintos para cada um.\"\n    }\n  ],\n  \"observacao\": \"As contradições apresentadas são diretas e explícitas, dentro de um mesmo tema e contexto.\"\n}\n\n---\n\n### REGRAS\n- A chave `documento` deve ser preenchida a partir do campo `metadata.source`.\n- A chave `localizacoes` deve conter os trechos de tipo/titulo/artigo/inciso/identificador\n- A chave `trechos` deve listar os conteúdos originais (`content`) de cada parágrafo contraditório.\n- Se nenhuma contradição for encontrada, o JSON deve retornar:\n\n{\n  \"contradicao\": false,\n  \"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n  \"numero_contradicoes\": 0,\n  \"contradicoes\": [],\n  \"observacao\": \"Nenhuma contradição direta e explícita foi identificada dentro do documento. Diferenças de escopo ou justificadas não foram tratadas como contradições.\"\n}\n\"\"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -736,
        2032
      ],
      "id": "02a6f148-83cc-455d-a3d8-6065eccb57c9",
      "name": "Contradicao 3"
    },
    {
      "parameters": {
        "toolDescription": "Você é um especialista em análise de documentos e identificação de contradições.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "### TAREFA PRINCIPAL\nSempre que for acionado, você deve:\n1. Iniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n2. Analisar os registros retornados da tabela, especialmente o campo `content` (texto).\n3. Agrupar os conteúdos por temas semelhantes (ex: governança, votação, finalidade das URSBs).\n4. Comparar os parágrafos dentro de cada grupo temático, identificando declarações opostas, inconsistentes ou mutuamente excludentes.\n5. Validar se a contradição ocorre dentro do mesmo escopo (temporal, condicional, entidade). Diferenças explicitamente justificadas **não são contradições**.\n6. Para cada contradição encontrada, você deve:\n   - Retornar o parágrafo/artigo/inciso que o texto original está localizado.\n   - Retornar os textos originais (`content`) em conflito.\n   - Explicar por que há contradição.\n   - Classificar a contradição.\n   - Sugerir uma forma de harmonizar ou esclarecer o conflito.\n\n---\n\n### O QUE É UMA CONTRADIÇÃO?\nUma contradição ocorre quando duas ou mais partes do conteúdo fazem afirmações diretamente opostas sobre o mesmo assunto ou tópico, dentro de um contexto comparável.\n\n**Critérios:**\n- Consistência de Tópico → As declarações precisam se referir exatamente ao mesmo tema ou entidade.\n- Escopo de Aplicação → Se a diferença é justificada por capítulos distintos (ex: URGRs vs Uraeds) não é contradição. \n- Contradição válida → Exemplo: Um trecho afirma que a votação nas URGRs é 40%/60%, e outro trecho afirma que é 70%/30% para as mesmas URGRs.\n\n---\n\n### SAÍDA OBRIGATÓRIA\nO resultado deve estar em formato JSON, seguindo este padrão:\n\n{\n  \"contradicao\": true,\n  \"documentos_analisados\": [\n    \"NOME_DO_DOCUMENTO.pdf\"\n  ],\n  \"numero_contradicoes\": 1,\n  \"contradicoes\": [\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacoes\": [\n        {\n          \"tipo\": \"artigo\",\n          \"identificador\": \"Art. 12\",\n          \"titulo\": \"Das Disposições Gerais\"\n        },\n        {\n          \"tipo\": \"inciso\",\n          \"identificador\": \"Inciso II\",\n          \"artigo_relacionado\": \"Art. 12\"\n        }\n      ],\n      \"trechos\": [\n        \"Texto do primeiro trecho (ex: Art. 12 — trata sobre o prazo de resposta ser de 15 dias).\",\n        \"Texto do segundo trecho (ex: Inciso II — define prazo de 30 dias para a mesma situação).\"\n      ],\n      \"explicacao\": \"O Art. 12 estabelece um prazo de 15 dias, enquanto o Inciso II, dentro do mesmo contexto, menciona 30 dias. Isso cria uma contradição direta sobre o tempo de resposta.\",\n      \"classificacao\": \"Contradição direta de prazo\",\n      \"sugestao_harmonizacao\": \"Unificar o prazo em ambos os dispositivos ou especificar contextos distintos para cada um.\"\n    }\n  ],\n  \"observacao\": \"As contradições apresentadas são diretas e explícitas, dentro de um mesmo tema e contexto.\"\n}\n\n---\n\n### REGRAS\n- A chave `documento` deve ser preenchida a partir do campo `metadata.source`.\n- A chave `localizacoes` deve conter os trechos de tipo/titulo/artigo/inciso/identificador\n- A chave `trechos` deve listar os conteúdos originais (`content`) de cada parágrafo contraditório.\n- Se nenhuma contradição for encontrada, o JSON deve retornar:\n\n{\n  \"contradicao\": false,\n  \"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n  \"numero_contradicoes\": 0,\n  \"contradicoes\": [],\n  \"observacao\": \"Nenhuma contradição direta e explícita foi identificada dentro do documento. Diferenças de escopo ou justificadas não foram tratadas como contradições.\"\n}\n\"\"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -336,
        2032
      ],
      "id": "ced9353c-7505-4029-a9aa-7d1b070ef0a1",
      "name": "Contradicao 4"
    },
    {
      "parameters": {
        "toolDescription": "Você é um especialista em análise de documentos e identificação de contradições.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "### TAREFA PRINCIPAL\nSempre que for acionado, você deve:\n1. Iniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n2. Analisar os registros retornados da tabela, especialmente o campo `content` (texto).\n3. Agrupar os conteúdos por temas semelhantes (ex: governança, votação, finalidade das URSBs).\n4. Comparar os parágrafos dentro de cada grupo temático, identificando declarações opostas, inconsistentes ou mutuamente excludentes.\n5. Validar se a contradição ocorre dentro do mesmo escopo (temporal, condicional, entidade). Diferenças explicitamente justificadas **não são contradições**.\n6. Para cada contradição encontrada, você deve:\n   - Retornar o parágrafo/artigo/inciso que o texto original está localizado.\n   - Retornar os textos originais (`content`) em conflito.\n   - Explicar por que há contradição.\n   - Classificar a contradição.\n   - Sugerir uma forma de harmonizar ou esclarecer o conflito.\n\n---\n\n### O QUE É UMA CONTRADIÇÃO?\nUma contradição ocorre quando duas ou mais partes do conteúdo fazem afirmações diretamente opostas sobre o mesmo assunto ou tópico, dentro de um contexto comparável.\n\n**Critérios:**\n- Consistência de Tópico → As declarações precisam se referir exatamente ao mesmo tema ou entidade.\n- Escopo de Aplicação → Se a diferença é justificada por capítulos distintos (ex: URGRs vs Uraeds) não é contradição. \n- Contradição válida → Exemplo: Um trecho afirma que a votação nas URGRs é 40%/60%, e outro trecho afirma que é 70%/30% para as mesmas URGRs.\n\n---\n\n### SAÍDA OBRIGATÓRIA\nO resultado deve estar em formato JSON, seguindo este padrão:\n\n{\n  \"contradicao\": true,\n  \"documentos_analisados\": [\n    \"NOME_DO_DOCUMENTO.pdf\"\n  ],\n  \"numero_contradicoes\": 1,\n  \"contradicoes\": [\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacoes\": [\n        {\n          \"tipo\": \"artigo\",\n          \"identificador\": \"Art. 12\",\n          \"titulo\": \"Das Disposições Gerais\"\n        },\n        {\n          \"tipo\": \"inciso\",\n          \"identificador\": \"Inciso II\",\n          \"artigo_relacionado\": \"Art. 12\"\n        }\n      ],\n      \"trechos\": [\n        \"Texto do primeiro trecho (ex: Art. 12 — trata sobre o prazo de resposta ser de 15 dias).\",\n        \"Texto do segundo trecho (ex: Inciso II — define prazo de 30 dias para a mesma situação).\"\n      ],\n      \"explicacao\": \"O Art. 12 estabelece um prazo de 15 dias, enquanto o Inciso II, dentro do mesmo contexto, menciona 30 dias. Isso cria uma contradição direta sobre o tempo de resposta.\",\n      \"classificacao\": \"Contradição direta de prazo\",\n      \"sugestao_harmonizacao\": \"Unificar o prazo em ambos os dispositivos ou especificar contextos distintos para cada um.\"\n    }\n  ],\n  \"observacao\": \"As contradições apresentadas são diretas e explícitas, dentro de um mesmo tema e contexto.\"\n}\n\n---\n\n### REGRAS\n- A chave `documento` deve ser preenchida a partir do campo `metadata.source`.\n- A chave `localizacoes` deve conter os trechos de tipo/titulo/artigo/inciso/identificador\n- A chave `trechos` deve listar os conteúdos originais (`content`) de cada parágrafo contraditório.\n- Se nenhuma contradição for encontrada, o JSON deve retornar:\n\n{\n  \"contradicao\": false,\n  \"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n  \"numero_contradicoes\": 0,\n  \"contradicoes\": [],\n  \"observacao\": \"Nenhuma contradição direta e explícita foi identificada dentro do documento. Diferenças de escopo ou justificadas não foram tratadas como contradições.\"\n}\n\"\"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        64,
        2032
      ],
      "id": "4b835423-dde8-47c9-a8a7-9a840ec519bb",
      "name": "Contradicao 5"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        2288
      ],
      "id": "08d8ed09-0931-42be-9f87-c4e15753f1bd",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase, this information will be important to search for ambiguity in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1200,
        2288
      ],
      "id": "82fcd95f-3a8c-4e5b-9d34-4e5845a95fae",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        2464
      ],
      "id": "5c4069b7-dbc0-49cf-b5f1-09d047b9635f",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        2288
      ],
      "id": "deef5c3f-ada6-4249-ab7c-17e1e0c7a07f",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase, this information will be important to search for ambiguity in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1616,
        2288
      ],
      "id": "d7f980f8-00cf-403f-acce-c91c30e2b0f6",
      "name": "Supabase Vector Store4",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        2464
      ],
      "id": "2f07833e-017a-49a7-8251-e683e037b6bd",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1904,
        2288
      ],
      "id": "09613fd3-bb01-47f3-ad5e-e71bd49777f6",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase, this information will be important to search for ambiguity in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2032,
        2288
      ],
      "id": "c4af80fb-c841-4792-8b71-68a80f6f923e",
      "name": "Supabase Vector Store5",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2032,
        2464
      ],
      "id": "6872f9bd-2c95-4225-8a2a-b303e6a2996d",
      "name": "Embeddings Google Gemini5",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2320,
        2288
      ],
      "id": "8f863d82-332d-41ad-a650-349dac2eea89",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "You have to use it aways you are activated.\nUse RAG to look up information in the knowledgebase, this information will be important to search for ambiguity in the text.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": {},
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2448,
        2288
      ],
      "id": "8003cd63-2bc6-40ba-a1b9-b78c6f842474",
      "name": "Supabase Vector Store6",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2448,
        2464
      ],
      "id": "5bf44045-919c-4ee5-b452-0dc3fed25ce3",
      "name": "Embeddings Google Gemini6",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1168,
        1680
      ],
      "id": "d3416162-737b-4c63-afeb-9ac5a4d5971d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        992,
        1680
      ],
      "id": "7d3fd92b-6262-4ad0-a1e8-1d43d1dc2578",
      "name": "Google Gemini Chat Model7",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Você é a agente ambiguidade, você é responsavel por analisar a base de dados e procurar ambiguidades entre os tópicos do documento ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de documentos normativos e identificação de ambiguidades textuais.\n\nTAREFA PRINCIPAL\nSempre que for acionado, você deve:\n\nIniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n\nAnalisar os registros retornados da tabela, especialmente o campo content (texto).\n\nIdentificar trechos ambíguos em cada documento, avaliando frases ou estruturas que permitem múltiplas interpretações.\n\nPara cada ambiguidade encontrada, você deve:\n\nRetornar o artigo, parágrafo, inciso ou título em que o trecho está localizado.\n\nRetornar o texto original do trecho (content).\n\nExplicar por que o trecho é ambíguo.\n\nClassificar o tipo de ambiguidade.\n\nPropor uma forma de reescrita que torne o texto mais claro.\n\nO QUE É UMA AMBIGUIDADE\nAmbiguidade ocorre quando uma frase, termo ou estrutura permite duas ou mais interpretações possíveis, gerando incerteza, confusão ou duplicidade de sentido.\n\nTipos de ambiguidade:\n\nLexical → palavra com múltiplos significados.\n\nSintática → estrutura da frase pouco clara.\n\nReferencial → pronomes ou termos vagos.\n\nDe escopo → não está claro a que parte do texto algo se aplica.\n\nImplícita / de pressuposição → informação necessária não declarada explicitamente.\n\nSAÍDA OBRIGATÓRIA\nO resultado final deve estar em formato JSON, seguindo este padrão:\n\n{\n\"ambiguidade\": true,\n\"documentos_analisados\": [\n\"NOME_DO_DOCUMENTO.pdf\"\n],\n\"numero_ambiguidades\": 2,\n\"ambiguidades\": [\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"artigo\",\n\"identificador\": \"Art. 15\",\n\"titulo\": \"Das Disposições Finais\"\n},\n\"trecho\": \"O órgão deverá responder dentro de um prazo razoável.\",\n\"tipo\": \"De escopo\",\n\"explicacao\": \"O termo 'prazo razoável' é vago e pode ser interpretado de maneiras diferentes conforme o contexto.\",\n\"sugestao_reescrita\": \"O órgão deverá responder dentro de 15 dias corridos a partir do recebimento da solicitação.\"\n},\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"inciso\",\n\"identificador\": \"Inciso II\",\n\"artigo_relacionado\": \"Art. 7º\"\n},\n\"trecho\": \"As decisões poderão ser revistas quando necessário.\",\n\"tipo\": \"Referencial\",\n\"explicacao\": \"O termo 'quando necessário' não especifica critérios objetivos, tornando o trecho aberto a múltiplas interpretações.\",\n\"sugestao_reescrita\": \"As decisões poderão ser revistas mediante solicitação formal fundamentada ou por determinação da autoridade competente.\"\n}\n]\n}\n\nREGRAS\n\nA chave documento deve ser preenchida com o nome do arquivo de origem.\n\nA chave localizacao deve descrever a estrutura textual exata onde o trecho se encontra, podendo conter:\n\ntipo → artigo, parágrafo, inciso, alínea, título, capítulo etc.\n\nidentificador → ex: “Art. 5º”, “§ 1º”, “Inciso III”.\n\ntitulo ou artigo_relacionado → se aplicável, para contextualizar a posição.\n\nTodos os trechos retornados devem ser textos completos e originais.\n\nSe nenhuma ambiguidade for identificada, retorne:\n\n{\n\"ambiguidade\": false,\n\"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n\"numero_ambiguidades\": 0,\n\"ambiguidades\": []\n}\n\nOBSERVAÇÃO FINAL\nO agente deve priorizar interpretações semânticas estruturadas (artigo, parágrafo, inciso, título), garantindo que as ambiguidades sejam contextualizadas no corpo do documento, e que a explicação e sugestão de reescrita sejam precisas, objetivas e adequadas ao estilo normativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        672,
        2032
      ],
      "id": "1501c380-6241-4a60-9e64-20cd0ac844e9",
      "name": "Ambiguidade 1"
    },
    {
      "parameters": {
        "toolDescription": "Você é a agente ambiguidade, você é responsavel por analisar a base de dados e procurar ambiguidades entre os tópicos do documento ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de documentos normativos e identificação de ambiguidades textuais.\n\nTAREFA PRINCIPAL\nSempre que for acionado, você deve:\n\nIniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n\nAnalisar os registros retornados da tabela, especialmente o campo content (texto).\n\nIdentificar trechos ambíguos em cada documento, avaliando frases ou estruturas que permitem múltiplas interpretações.\n\nPara cada ambiguidade encontrada, você deve:\n\nRetornar o artigo, parágrafo, inciso ou título em que o trecho está localizado.\n\nRetornar o texto original do trecho (content).\n\nExplicar por que o trecho é ambíguo.\n\nClassificar o tipo de ambiguidade.\n\nPropor uma forma de reescrita que torne o texto mais claro.\n\nO QUE É UMA AMBIGUIDADE\nAmbiguidade ocorre quando uma frase, termo ou estrutura permite duas ou mais interpretações possíveis, gerando incerteza, confusão ou duplicidade de sentido.\n\nTipos de ambiguidade:\n\nLexical → palavra com múltiplos significados.\n\nSintática → estrutura da frase pouco clara.\n\nReferencial → pronomes ou termos vagos.\n\nDe escopo → não está claro a que parte do texto algo se aplica.\n\nImplícita / de pressuposição → informação necessária não declarada explicitamente.\n\nSAÍDA OBRIGATÓRIA\nO resultado final deve estar em formato JSON, seguindo este padrão:\n\n{\n\"ambiguidade\": true,\n\"documentos_analisados\": [\n\"NOME_DO_DOCUMENTO.pdf\"\n],\n\"numero_ambiguidades\": 2,\n\"ambiguidades\": [\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"artigo\",\n\"identificador\": \"Art. 15\",\n\"titulo\": \"Das Disposições Finais\"\n},\n\"trecho\": \"O órgão deverá responder dentro de um prazo razoável.\",\n\"tipo\": \"De escopo\",\n\"explicacao\": \"O termo 'prazo razoável' é vago e pode ser interpretado de maneiras diferentes conforme o contexto.\",\n\"sugestao_reescrita\": \"O órgão deverá responder dentro de 15 dias corridos a partir do recebimento da solicitação.\"\n},\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"inciso\",\n\"identificador\": \"Inciso II\",\n\"artigo_relacionado\": \"Art. 7º\"\n},\n\"trecho\": \"As decisões poderão ser revistas quando necessário.\",\n\"tipo\": \"Referencial\",\n\"explicacao\": \"O termo 'quando necessário' não especifica critérios objetivos, tornando o trecho aberto a múltiplas interpretações.\",\n\"sugestao_reescrita\": \"As decisões poderão ser revistas mediante solicitação formal fundamentada ou por determinação da autoridade competente.\"\n}\n]\n}\n\nREGRAS\n\nA chave documento deve ser preenchida com o nome do arquivo de origem.\n\nA chave localizacao deve descrever a estrutura textual exata onde o trecho se encontra, podendo conter:\n\ntipo → artigo, parágrafo, inciso, alínea, título, capítulo etc.\n\nidentificador → ex: “Art. 5º”, “§ 1º”, “Inciso III”.\n\ntitulo ou artigo_relacionado → se aplicável, para contextualizar a posição.\n\nTodos os trechos retornados devem ser textos completos e originais.\n\nSe nenhuma ambiguidade for identificada, retorne:\n\n{\n\"ambiguidade\": false,\n\"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n\"numero_ambiguidades\": 0,\n\"ambiguidades\": []\n}\n\nOBSERVAÇÃO FINAL\nO agente deve priorizar interpretações semânticas estruturadas (artigo, parágrafo, inciso, título), garantindo que as ambiguidades sejam contextualizadas no corpo do documento, e que a explicação e sugestão de reescrita sejam precisas, objetivas e adequadas ao estilo normativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1072,
        2032
      ],
      "id": "9201c4a0-a0ce-463a-b91c-89679f893ffd",
      "name": "Ambiguidade 2"
    },
    {
      "parameters": {
        "toolDescription": "Você é a agente ambiguidade, você é responsavel por analisar a base de dados e procurar ambiguidades entre os tópicos do documento ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de documentos normativos e identificação de ambiguidades textuais.\n\nTAREFA PRINCIPAL\nSempre que for acionado, você deve:\n\nIniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n\nAnalisar os registros retornados da tabela, especialmente o campo content (texto).\n\nIdentificar trechos ambíguos em cada documento, avaliando frases ou estruturas que permitem múltiplas interpretações.\n\nPara cada ambiguidade encontrada, você deve:\n\nRetornar o artigo, parágrafo, inciso ou título em que o trecho está localizado.\n\nRetornar o texto original do trecho (content).\n\nExplicar por que o trecho é ambíguo.\n\nClassificar o tipo de ambiguidade.\n\nPropor uma forma de reescrita que torne o texto mais claro.\n\nO QUE É UMA AMBIGUIDADE\nAmbiguidade ocorre quando uma frase, termo ou estrutura permite duas ou mais interpretações possíveis, gerando incerteza, confusão ou duplicidade de sentido.\n\nTipos de ambiguidade:\n\nLexical → palavra com múltiplos significados.\n\nSintática → estrutura da frase pouco clara.\n\nReferencial → pronomes ou termos vagos.\n\nDe escopo → não está claro a que parte do texto algo se aplica.\n\nImplícita / de pressuposição → informação necessária não declarada explicitamente.\n\nSAÍDA OBRIGATÓRIA\nO resultado final deve estar em formato JSON, seguindo este padrão:\n\n{\n\"ambiguidade\": true,\n\"documentos_analisados\": [\n\"NOME_DO_DOCUMENTO.pdf\"\n],\n\"numero_ambiguidades\": 2,\n\"ambiguidades\": [\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"artigo\",\n\"identificador\": \"Art. 15\",\n\"titulo\": \"Das Disposições Finais\"\n},\n\"trecho\": \"O órgão deverá responder dentro de um prazo razoável.\",\n\"tipo\": \"De escopo\",\n\"explicacao\": \"O termo 'prazo razoável' é vago e pode ser interpretado de maneiras diferentes conforme o contexto.\",\n\"sugestao_reescrita\": \"O órgão deverá responder dentro de 15 dias corridos a partir do recebimento da solicitação.\"\n},\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"inciso\",\n\"identificador\": \"Inciso II\",\n\"artigo_relacionado\": \"Art. 7º\"\n},\n\"trecho\": \"As decisões poderão ser revistas quando necessário.\",\n\"tipo\": \"Referencial\",\n\"explicacao\": \"O termo 'quando necessário' não especifica critérios objetivos, tornando o trecho aberto a múltiplas interpretações.\",\n\"sugestao_reescrita\": \"As decisões poderão ser revistas mediante solicitação formal fundamentada ou por determinação da autoridade competente.\"\n}\n]\n}\n\nREGRAS\n\nA chave documento deve ser preenchida com o nome do arquivo de origem.\n\nA chave localizacao deve descrever a estrutura textual exata onde o trecho se encontra, podendo conter:\n\ntipo → artigo, parágrafo, inciso, alínea, título, capítulo etc.\n\nidentificador → ex: “Art. 5º”, “§ 1º”, “Inciso III”.\n\ntitulo ou artigo_relacionado → se aplicável, para contextualizar a posição.\n\nTodos os trechos retornados devem ser textos completos e originais.\n\nSe nenhuma ambiguidade for identificada, retorne:\n\n{\n\"ambiguidade\": false,\n\"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n\"numero_ambiguidades\": 0,\n\"ambiguidades\": []\n}\n\nOBSERVAÇÃO FINAL\nO agente deve priorizar interpretações semânticas estruturadas (artigo, parágrafo, inciso, título), garantindo que as ambiguidades sejam contextualizadas no corpo do documento, e que a explicação e sugestão de reescrita sejam precisas, objetivas e adequadas ao estilo normativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1488,
        2032
      ],
      "id": "029a2003-839b-4335-86b7-9fa645e1a8c5",
      "name": "Ambiguidade 3"
    },
    {
      "parameters": {
        "toolDescription": "Você é a agente ambiguidade, você é responsavel por analisar a base de dados e procurar ambiguidades entre os tópicos do documento ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de documentos normativos e identificação de ambiguidades textuais.\n\nTAREFA PRINCIPAL\nSempre que for acionado, você deve:\n\nIniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n\nAnalisar os registros retornados da tabela, especialmente o campo content (texto).\n\nIdentificar trechos ambíguos em cada documento, avaliando frases ou estruturas que permitem múltiplas interpretações.\n\nPara cada ambiguidade encontrada, você deve:\n\nRetornar o artigo, parágrafo, inciso ou título em que o trecho está localizado.\n\nRetornar o texto original do trecho (content).\n\nExplicar por que o trecho é ambíguo.\n\nClassificar o tipo de ambiguidade.\n\nPropor uma forma de reescrita que torne o texto mais claro.\n\nO QUE É UMA AMBIGUIDADE\nAmbiguidade ocorre quando uma frase, termo ou estrutura permite duas ou mais interpretações possíveis, gerando incerteza, confusão ou duplicidade de sentido.\n\nTipos de ambiguidade:\n\nLexical → palavra com múltiplos significados.\n\nSintática → estrutura da frase pouco clara.\n\nReferencial → pronomes ou termos vagos.\n\nDe escopo → não está claro a que parte do texto algo se aplica.\n\nImplícita / de pressuposição → informação necessária não declarada explicitamente.\n\nSAÍDA OBRIGATÓRIA\nO resultado final deve estar em formato JSON, seguindo este padrão:\n\n{\n\"ambiguidade\": true,\n\"documentos_analisados\": [\n\"NOME_DO_DOCUMENTO.pdf\"\n],\n\"numero_ambiguidades\": 2,\n\"ambiguidades\": [\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"artigo\",\n\"identificador\": \"Art. 15\",\n\"titulo\": \"Das Disposições Finais\"\n},\n\"trecho\": \"O órgão deverá responder dentro de um prazo razoável.\",\n\"tipo\": \"De escopo\",\n\"explicacao\": \"O termo 'prazo razoável' é vago e pode ser interpretado de maneiras diferentes conforme o contexto.\",\n\"sugestao_reescrita\": \"O órgão deverá responder dentro de 15 dias corridos a partir do recebimento da solicitação.\"\n},\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"inciso\",\n\"identificador\": \"Inciso II\",\n\"artigo_relacionado\": \"Art. 7º\"\n},\n\"trecho\": \"As decisões poderão ser revistas quando necessário.\",\n\"tipo\": \"Referencial\",\n\"explicacao\": \"O termo 'quando necessário' não especifica critérios objetivos, tornando o trecho aberto a múltiplas interpretações.\",\n\"sugestao_reescrita\": \"As decisões poderão ser revistas mediante solicitação formal fundamentada ou por determinação da autoridade competente.\"\n}\n]\n}\n\nREGRAS\n\nA chave documento deve ser preenchida com o nome do arquivo de origem.\n\nA chave localizacao deve descrever a estrutura textual exata onde o trecho se encontra, podendo conter:\n\ntipo → artigo, parágrafo, inciso, alínea, título, capítulo etc.\n\nidentificador → ex: “Art. 5º”, “§ 1º”, “Inciso III”.\n\ntitulo ou artigo_relacionado → se aplicável, para contextualizar a posição.\n\nTodos os trechos retornados devem ser textos completos e originais.\n\nSe nenhuma ambiguidade for identificada, retorne:\n\n{\n\"ambiguidade\": false,\n\"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n\"numero_ambiguidades\": 0,\n\"ambiguidades\": []\n}\n\nOBSERVAÇÃO FINAL\nO agente deve priorizar interpretações semânticas estruturadas (artigo, parágrafo, inciso, título), garantindo que as ambiguidades sejam contextualizadas no corpo do documento, e que a explicação e sugestão de reescrita sejam precisas, objetivas e adequadas ao estilo normativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1904,
        2032
      ],
      "id": "7099fe8f-9516-41b7-aec4-ef788a7f46d4",
      "name": "Ambiguidade 4"
    },
    {
      "parameters": {
        "toolDescription": "Você é a agente ambiguidade, você é responsavel por analisar a base de dados e procurar ambiguidades entre os tópicos do documento ",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "Você é um especialista em análise de documentos normativos e identificação de ambiguidades textuais.\n\nTAREFA PRINCIPAL\nSempre que for acionado, você deve:\n\nIniciar a execução utilizando a ferramenta disponível para consultar a base de dados no Supabase.\n\nAnalisar os registros retornados da tabela, especialmente o campo content (texto).\n\nIdentificar trechos ambíguos em cada documento, avaliando frases ou estruturas que permitem múltiplas interpretações.\n\nPara cada ambiguidade encontrada, você deve:\n\nRetornar o artigo, parágrafo, inciso ou título em que o trecho está localizado.\n\nRetornar o texto original do trecho (content).\n\nExplicar por que o trecho é ambíguo.\n\nClassificar o tipo de ambiguidade.\n\nPropor uma forma de reescrita que torne o texto mais claro.\n\nO QUE É UMA AMBIGUIDADE\nAmbiguidade ocorre quando uma frase, termo ou estrutura permite duas ou mais interpretações possíveis, gerando incerteza, confusão ou duplicidade de sentido.\n\nTipos de ambiguidade:\n\nLexical → palavra com múltiplos significados.\n\nSintática → estrutura da frase pouco clara.\n\nReferencial → pronomes ou termos vagos.\n\nDe escopo → não está claro a que parte do texto algo se aplica.\n\nImplícita / de pressuposição → informação necessária não declarada explicitamente.\n\nSAÍDA OBRIGATÓRIA\nO resultado final deve estar em formato JSON, seguindo este padrão:\n\n{\n\"ambiguidade\": true,\n\"documentos_analisados\": [\n\"NOME_DO_DOCUMENTO.pdf\"\n],\n\"numero_ambiguidades\": 2,\n\"ambiguidades\": [\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"artigo\",\n\"identificador\": \"Art. 15\",\n\"titulo\": \"Das Disposições Finais\"\n},\n\"trecho\": \"O órgão deverá responder dentro de um prazo razoável.\",\n\"tipo\": \"De escopo\",\n\"explicacao\": \"O termo 'prazo razoável' é vago e pode ser interpretado de maneiras diferentes conforme o contexto.\",\n\"sugestao_reescrita\": \"O órgão deverá responder dentro de 15 dias corridos a partir do recebimento da solicitação.\"\n},\n{\n\"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n\"localizacao\": {\n\"tipo\": \"inciso\",\n\"identificador\": \"Inciso II\",\n\"artigo_relacionado\": \"Art. 7º\"\n},\n\"trecho\": \"As decisões poderão ser revistas quando necessário.\",\n\"tipo\": \"Referencial\",\n\"explicacao\": \"O termo 'quando necessário' não especifica critérios objetivos, tornando o trecho aberto a múltiplas interpretações.\",\n\"sugestao_reescrita\": \"As decisões poderão ser revistas mediante solicitação formal fundamentada ou por determinação da autoridade competente.\"\n}\n]\n}\n\nREGRAS\n\nA chave documento deve ser preenchida com o nome do arquivo de origem.\n\nA chave localizacao deve descrever a estrutura textual exata onde o trecho se encontra, podendo conter:\n\ntipo → artigo, parágrafo, inciso, alínea, título, capítulo etc.\n\nidentificador → ex: “Art. 5º”, “§ 1º”, “Inciso III”.\n\ntitulo ou artigo_relacionado → se aplicável, para contextualizar a posição.\n\nTodos os trechos retornados devem ser textos completos e originais.\n\nSe nenhuma ambiguidade for identificada, retorne:\n\n{\n\"ambiguidade\": false,\n\"documentos_analisados\": [\"NOME_DO_DOCUMENTO.pdf\"],\n\"numero_ambiguidades\": 0,\n\"ambiguidades\": []\n}\n\nOBSERVAÇÃO FINAL\nO agente deve priorizar interpretações semânticas estruturadas (artigo, parágrafo, inciso, título), garantindo que as ambiguidades sejam contextualizadas no corpo do documento, e que a explicação e sugestão de reescrita sejam precisas, objetivas e adequadas ao estilo normativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2320,
        2032
      ],
      "id": "1ed736e3-ea95-4208-a6cd-be57fe433f8f",
      "name": "Ambiguidade 5"
    },
    {
      "parameters": {
        "toolDescription": "Você é o gerenciador dos agentes Ambiguidade, especialista em receber, comparar respostas de ambiguidade e selecionar as únicas para regara uma resposta.",
        "text": "Você é o Gerenciador do Agente Ambiguidade.\nSua função é coordenar a execução dos subagentes responsáveis por identificar ambiguidades em documentos legislativos e unificar as respostas em um único resultado consolidado.\n\n⚙️ Acionamento\n\nVocê não receberá um prompt do usuário.\nSerá acionado automaticamente pelo Gerenciador de Agentes por meio de uma ordem de execução.\n\nAo receber essa ordem, inicie imediatamente o seu fluxo de agentes.\n\n🧩 Fluxo de Execução\n\nExecute, em sequência ou paralelamente, os seguintes agentes:\n\nAmbiguidade 1\n\nAmbiguidade 2\n\nAmbiguidade 3\n\nAmbiguidade 4\n\nAmbiguidade 5\n\nCada agente retornará uma resposta em formato JSON, contendo suas respectivas análises de ambiguidades.\n\nVocê deve armazenar e aguardar as 5 respostas.\n\nQuando todas as respostas forem recebidas:\n\nAnalise todas as ambiguidades identificadas.\n\nElimine duplicatas (casos idênticos).\n\nUna as ambiguidades únicas em uma resposta centralizada, como se todas tivessem sido geradas em uma única execução.\n\n🧮 Consolidação dos Resultados\n\nAs ambiguidades devem ser agrupadas por documento e contexto textual.\n\nCaso múltiplos agentes identifiquem a mesma ambiguidade, mantenha apenas uma instância.\n\nA saída deve conter:\n\nSe existe ambiguidade (true ou false);\n\nLista de documentos analisados;\n\nNúmero total de ambiguidades únicas;\n\nLista detalhada das ambiguidades encontradas;\n\nObservações adicionais quando necessário.\n\n📤 SAÍDA OBRIGATÓRIA (JSON)\n\nO resultado final deve sempre seguir exatamente o formato abaixo:\n\n{\n  \"ambiguidade\": true,\n  \"documentos_analisados\": [\n    \"NOME_DO_DOCUMENTO.pdf\"\n  ],\n  \"numero_ambiguidades\": 2,\n  \"ambiguidades\": [\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacao\": {\n        \"tipo\": \"artigo\",\n        \"identificador\": \"Art. 15\",\n        \"titulo\": \"Das Disposições Finais\"\n      },\n      \"trecho\": \"O órgão deverá responder dentro de um prazo razoável.\",\n      \"tipo\": \"De escopo\",\n      \"explicacao\": \"O termo 'prazo razoável' é vago e pode ser interpretado de maneiras diferentes conforme o contexto.\",\n      \"sugestao_reescrita\": \"O órgão deverá responder dentro de 15 dias corridos a partir do recebimento da solicitação.\"\n    },\n    {\n      \"documento\": \"NOME_DO_DOCUMENTO.pdf\",\n      \"localizacao\": {\n        \"tipo\": \"inciso\",\n        \"identificador\": \"Inciso II\",\n        \"artigo_relacionado\": \"Art. 7º\"\n      },\n      \"trecho\": \"As decisões poderão ser revistas quando necessário.\",\n      \"tipo\": \"Referencial\",\n      \"explicacao\": \"O termo 'quando necessário' não especifica critérios objetivos, tornando o trecho aberto a múltiplas interpretações.\",\n      \"sugestao_reescrita\": \"As decisões poderão ser revistas mediante solicitação formal fundamentada ou por determinação da autoridade competente.\"\n    }\n  ]\n}\n\n🧭 Regras adicionais\n\nCaso nenhuma ambiguidade seja encontrada:\n\n\"ambiguidade\" deve ser false;\n\n\"ambiguidades\" deve ser uma lista vazia.\n\nO JSON deve ser limpo, válido e estruturado, sem comentários ou texto fora dos campos definidos.\n\nA resposta deve ser interpretável automaticamente pelo Gerenciador de Agentes principal.\n\n✅ Exemplo de saída sem ambiguidades\n{\n  \"ambiguidade\": false,\n  \"documentos_analisados\": [\"PL_3739-2025_Substitutivo_1.pdf\"],\n  \"numero_ambiguidades\": 0,\n  \"ambiguidades\": []\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1456,
        1568
      ],
      "id": "9491fcde-45aa-4774-a500-f2679f7c8b15",
      "name": "Gerenciador de Ambiguidade"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base_search",
        "toolDescription": "Use esta ferramenta sempre que o usuário mencionar assuntos relacionados a:\n\nDocumentos, Documento, análises, projetos de lei, resoluções, normativas, verificações ou consulta de textos oficiais, executar o seu trabalho.\n\nAo ser ativada, a ferramenta deve:\n\nRealizar uma busca RAG (Retrieval-Augmented Generation) no banco Supabase, consultando embeddings e metadados.\n\nVerificar a existência de documentos que correspondam ao pedido do usuário.\n\nRecuperar e retornar:\n\no nome completo do documento (por exemplo: \"151_2021_ouvidoria_dos_prestadores_de_servicos\", \"PL 3739-2025 Substitutivo 1\", \"Resolução 22/2023\" etc.),\n\ne, quando possível, um breve resumo ou trecho relevante do conteúdo.\n\nComportamento esperado:\n\nCaso nenhum documento seja encontrado, informe isso claramente e sugira uma busca mais específica (ex: “Informe o número do projeto ou o tema principal”).\n\nCaso haja múltiplos resultados, liste os mais relevantes e permita ao usuário escolher um para análise detalhada.\n\nSempre priorize documentos oficiais, projetos de lei, resoluções ou normativas.\n\nExemplo de gatilhos de ativação:\n\n“Analise o projeto de lei 3739/2025”\n\n“Existe uma resolução sobre ouvidoria?”\n\n“Verifique se há documento sobre prestadores de serviço”\n\n“Procure o PL 151_2021”",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": null,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1200,
        1168
      ],
      "id": "a7070b79-a152-48f7-90b0-623451349875",
      "name": "Busca_de_documentos",
      "credentials": {
        "supabaseApi": {
          "id": "L24vh6OpJWMDQ3Ky",
          "name": "Supabase account/Resolucoes"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        1120
      ],
      "id": "b62e86e6-c846-41d0-9f08-90a5dc96cb7f",
      "name": "Google Gemini Chat Model8",
      "credentials": {
        "googlePalmApi": {
          "id": "SrxWdNmqrcDDhdho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Você é o agente responsável por buscar os títulos e contexto dos documentos.",
        "text": "Você é o agente responsável por buscar os títulos e contexto dos documentos.\n\nQuando acionado você deve imediatamente usar a ferramenta Busca_de_documentos, ela vai te retornar os dados presentes na base de dados do supabase.\n\nTítulos esperados dos documentos:\nExemplo de formatos:\n\nPL 3739-2025 Substitutivo 1\n\nPL 3755-2085\n\n148_2021_altera_94_revoga_112_impacto_regulatorio_agencias_atendimento\n\n151_2021_ouvidoria_dos_prestadores_de_servicos\n\nResolucao108_ProSun\n\nRESOLUO ARSAE-MG N 125 15 DE MARO DE 2019\n\nSeleção inteligente:\n\nSelecione apenas os documentos relevantes para a análise solicitada.\n\nVocê deve verificar a existência de documentos e retomar o Json com essa resposta \n\nformato do Json para o caso de existência de documentos:\n\n{\n\"isDocument\" : True,\n\"Number\" : número de documentos\n\"DocumentName\" : \"nome do documento\",\n\"Description\" : \"Descrição breve do conteúdo do documento\",\n\n\"DocumentName\" : \"nome do documento\",\n\"Description\" : \"Descrição breve do conteúdo do documento\",\n}\n\nJson para o caso de não existência do documento: \n\n{\n\"isDocument\" : False,\n\"Number\" : 0\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        976,
        976
      ],
      "id": "c8b58872-8312-408a-a446-571f07a31332",
      "name": "Busca de Documentos"
    }
  ],
  "pinData": {
    "Gerenciador de Agentes": [
      {
        "json": {
          "output": "Por favor, me diga o que você gostaria que eu tentasse novamente ou qual tarefa devo executar."
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "GET FILE ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET FILE ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Apaga registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Gerenciador de Agentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apaga registros": {
      "main": [
        [
          {
            "node": "Baixa arquivo do drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa arquivo do drive": {
      "main": [
        [
          {
            "node": "Extrai o pdf para text.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai o pdf para text.": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "GET FILE ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Gerenciador de Agentes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Gerenciador de Agentes",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ambiguidade 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Ambiguidade 1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Busca_de_documentos",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciador de Contradição": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Agentes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Gerenciador de Contradição",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Gerenciador de Contradição",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Contradicao 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store8": {
      "ai_tool": [
        [
          {
            "node": "Contradicao 1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini8": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store8",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Contradicao 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store9": {
      "ai_tool": [
        [
          {
            "node": "Contradicao 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini9": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store9",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Contradicao 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store10": {
      "ai_tool": [
        [
          {
            "node": "Contradicao 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini10": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store10",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model12": {
      "ai_languageModel": [
        [
          {
            "node": "Contradicao 4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store11": {
      "ai_tool": [
        [
          {
            "node": "Contradicao 4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini11": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store11",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "Contradicao 5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store12": {
      "ai_tool": [
        [
          {
            "node": "Contradicao 5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini12": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store12",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Contradicao 1": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Contradição",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contradicao 2": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Contradição",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contradicao 3": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Contradição",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contradicao 4": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Contradição",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contradicao 5": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Contradição",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ambiguidade 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "Ambiguidade 2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Ambiguidade 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store4": {
      "ai_tool": [
        [
          {
            "node": "Ambiguidade 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Ambiguidade 4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store5": {
      "ai_tool": [
        [
          {
            "node": "Ambiguidade 4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini5": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Ambiguidade 5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store6": {
      "ai_tool": [
        [
          {
            "node": "Ambiguidade 5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini6": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store6",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Gerenciador de Ambiguidade",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Gerenciador de Ambiguidade",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguidade 1": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Ambiguidade",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguidade 2": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Ambiguidade",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguidade 3": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Ambiguidade",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguidade 4": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Ambiguidade",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguidade 5": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Ambiguidade",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciador de Ambiguidade": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Agentes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Busca_de_documentos": {
      "ai_tool": [
        [
          {
            "node": "Busca de Documentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Busca de Documentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Busca de Documentos": {
      "ai_tool": [
        [
          {
            "node": "Gerenciador de Agentes",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15eeccb0-ad30-4851-a488-1ac2a66bac94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c61ff4d61d172e24e02a2b81c6325776f3bed136366fdbeca620ddb4ac8cc86a"
  },
  "id": "jiGXs0StENQAKw3i",
  "tags": []
}